{% extends 'useraccount/homepage.html' %}

{% load  crispy_forms_tags %}

{% block title%}| {{title}} User{% endblock %}

{% block homecontent %}

<div class="wrapper">
    <div id="formContentreg">
      <div >
        {% for message in messages %}
          <p class="alert alert-success" role="alert">{{message}}<p>
        {% endfor %}
        <h2 class="logintxt" >{{title}} User</h2>
        <hr>
      </div>
      <div class="container">
        {% crispy UserForm %}
      </div>
    </div>
</div>

{% endblock %}
